.academic {
    font-family: var(--fonte-padrao);
    background: var(--cor-de-fundo2);
    font-family: var(--fonte-padrao);
    color: var(--cor-fonte-padrao);
    font-size: .875rem;
}

.academic__title{
    text-align: center;
    font-weight: 700;
    font-size: 1.375rem;
}

.logo__academic{
    width: 296px;
    height: 118px;
}

.academic__courses__item__img{
    background-color: var(--cor-de-fundo);
}

.academic__courses__item__title{
    font-size: 1rem;
    line-height: 1.125rem;
}

.academic__courses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

