.academic {
    font-family: var(--fonte-padrao);
    background: var(--cor-de-fundo2);
    font-family: var(--fonte-padrao);
    color: var(--cor-fonte-padrao);
    font-size: .875rem;
}

.academic__title{
    text-align: center;
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 1rem;
}

.logo__academic{
    width: 296px;
    height: 118px;
}

.academic__courses__item__img{
    background-color: var(--cor-de-fundo);
}

.academic__courses__item__title{
    font-size: 1rem;
    line-height: 1.125rem;
}

.academic__courses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic__courses__item__title{
    margin-top: 1rem;
}

.academic__courses__item__subtitle{
    margin: .3rem auto 1rem;
}

@media screen and (min-width: 768px) {
    .academic {
        font-size: 1rem;
    }

    .academic__courses{
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
}
