.menu {
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-padrao);
    align-items: center;
    font-weight: 500;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 1rem;
}

.menu__cabecalho {
   display: flex;
   align-items: center;
}

.menu__imagem {
 width: 22px;
 height: 22px;
}

.menu__titulo {
   margin-left: 0;
   font-weight: bolder;
   font-size: 14px;
}

.menu__list {
    display: none;
}

.menu__list__item__contato {
 font-size: 14px;
 font-weight: 600;
 color: #464646;
 list-style: none;
}

@media screen and (min-width: 768px) {
    .menu{
        height: 88px;
        margin: auto;
        padding: 0 2rem;
    }
}


@media screen and (min-width: 1024px) {
    .menu__list {
        display: flex;
    }
    
    .menu__list__item {
     margin-left: 1rem;
    }

    .menu__list__item__contato{
        display: none;
    }

    .menu{
        height: 88px;
        margin: auto;
        padding: 0 8%;
    }
}