.skills {
    color: var(--cor-fonte-padrao);
    font-size: .875rem;
}

.skills__title {
    font-size: 1.375rem;
    text-align: center; 
}

.skills__line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills__box{
    display: block;  
    width: 50%;
}

.skills__box:last-child {
    margin-top: 1rem;
}

.skills__name {
    width: 100%;
}

.skills__box_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}