.about {
    font-family: var(--fonte-padrao);
    color: var(--cor-fonte-padrao);
    background: #EAF2FD;
}

.about__title { 
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about__paragraph {
    font-size: .875rem;
    line-height: 1rem;
    text-align: justify;
}