.about {
    font-family: var(--fonte-padrao);
    color: var(--cor-fonte-padrao);
    background: #EAF2FD;
    font-size: .875rem;
}

.about__title { 
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about__paragraph {
    line-height: 1rem;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .about {
        font-size: 1rem;
    }
}