:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-fundo2: #EAF2FD;
   --cor-de-link: #000;
   --cor-fonte-padrao: #464646;
   --fonte-padrao: 'Raleway', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    line-height: 1;
    width:100%;
    font-size: .875rem;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.container{
    box-sizing: border-box;
    padding: 1rem;
}

@media screen and (min-width: 768px){
   .container {
    padding: 2rem;
   }
}

@media screen and (min-width: 1024px){
    .container {
     padding: 2rem 8%;
    }
 }
