.title{
    font-size: .875rem;
}

.title__profile{
    width: 98px;
    border-radius: 50%;
}

.title__network{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-family: var(--fonte-padrao);
    color: var(--cor-fonte-padrao);
}

a:hover{
    text-decoration: underline;
    color: goldenrod;
}

.title__bio{
    width: 100%;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;
    font-family: var(--fonte-padrao);
    text-align: justify;
    color: var(--cor-fonte-padrao);
}

.title__subsection{
    font-family: var(--fonte-padrao);
    font-weight: 400;
    text-align: justify;
    line-height: 1rem;
    color: var(--cor-fonte-padrao);
    margin: 1rem auto;
}

@media screen and (min-width: 768px){
    .title {
        font-size: 1rem;
    }

    .title__div {
        display: flex;
        justify-content: space-between;
    }

    .title__profile{
        order: 2;
        width: 146px;
    }

    .title__container{
        width: 524px;
    }

    .title__network{
        font-weight: 500;
    }
}

@media screen and (min-width: 1024px){
    .title__container{
        width: 75%;
    }
}